<!--Componente Cabecera
Recibe Los Datos de lo metodos que retornan
Presupuesto Total
Ingreso Total
Egreso Total y
Porcentaje
Por medio de Property Binding Y Input-->
<app-cabecera
  [Presupuesto]="getPresupuestoTotal()"
  [Ingresos]="getIngresoTotal()"
  [Egresos]="getEgresoTotal()"
  [Porcentaje]="getPorcentajeTotalEgreso()"
></app-cabecera>

<!--Componente Del formulario para Registrar un Egresos y/o Ingreso-->
<app-form-registro></app-form-registro>


<!--Componentes para Ver Todos los ingresos Registrados Y Egresos-->
<div class="contenedor limpiarEstilos" id="EspacioFinal">
  <!--Componente para ver ingresos-->
  <app-ingresos>
   
  </app-ingresos>


  <!--Componente para ver Egresos y recibe el ingreso total
  Para calcular el porcentaje que representa cada Egreso sobre el ingreso total-->
  <app-egresos [IngresoT]="getIngresoTotal()"></app-egresos>
</div>

<br /><br />
<hr />
