<div class="ingreso">
    <h2 class="ingreso_titulo">Ingresos</h2>
       
        
        <div class="elemento limpiarEstilos" *ngFor="let Element of InfoIngresos; let i = index">
            <div class="elemento_descripcion">{{Element.Description}}</div>
            <div class="right limpiarEstilos">
                <div class="elemento_valor">+ {{Element.Value |currency:'COL':'$ ':'1.2-2' }}</div>
                <div class="elemento_eliminar">
                    <button class="elemento_eliminar--btn" (click)="Eliminar(i)">
                        <i class="ion-ios-close-outline"></i>
                    </button>
                </div>
            </div>
        </div>
       
        
</div>